.login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  padding: 50px 0;
  border-radius: 5px;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3px;
}

.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #7869eb;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 20px;
}

.loginBox {
  /* height: 400px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
}

.loginInput {
  border-radius: 5px;
  font-size: 13px;
  padding: 15px 10px;
  margin-bottom: 40px;
  border: none;
}

.loginInput:focus {
  outline: none;
}

.loginBtn {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #7869eb;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:disabled {
  cursor: not-allowed;
}

.loginForgot {
  text-align: center;
  color: #1775ee;
  margin-bottom: 20px;
}

.loginRegistration {
  align-self: center;
  border-radius: 10px;
  border: 1px solid #7869eb;
  color: #7869eb;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
}